# Logs
logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
lerna-debug.log*

node_modules
dist
dist-ssr
*.local
package-lock.json

# Editor directories and files
.vscode/*
!.vscode/extensions.json
.idea
.DS_Store
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?

# Snap file for Snapcraft & Snap Store
*.snap

# Flatpak file for Flatpak & Flathub
flatpak-build
.flatpak-builder

# Sentry Config File
.env.sentry-build-plugin

# Lingo.dev
i18n.cache
